/* Global styles applied to both mobile and desktop */
.designs-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: #ffffff;
}

.designs-sidebar {
    width: 300px; /* Prevent shrinking and set a fixed width */
    background: #ffffff;
    padding: 10px;
    overflow-y: auto;
    border-right: 2px solid #f7f7f7;
    height: calc(100vh - 60px);
}

.designs-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.designs-list li {
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
}

.design-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.design-title {
    font-size: 14px;
    font-weight: medium;
    color: #000;
    margin-bottom: 5px;
}

.design-url {
    font-size: 12px;
    color: #a4a4a4;
}

.design-tags {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.design-tags span {
    background: #f0f0f0;
    border-radius: 3px;
    padding: 2px 6px;
    margin-right: 5px;
    margin-top: 5px;
    color: #555;
    font-size: 12px;
}

.designs-list li:hover .concept-tags span,
.designs-list li.selected .concept-tags span {
    background: #2c2c2c;
    color: #fff;
}

.designs-list li:hover {
    background-color: #f0f0f0;
}

.designs-list li.selected {
    background-color: #e0e0e0;
}

.design-details {
    flex: 1; /* Take the remaining width */
    padding: 30px;
    background: #ffffff;
    overflow-y: auto;
    height: calc(100vh - 60px);
}

.back-button {
    background: #2c2c2c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cd0000;
    border-radius: 5px;
    font-size: 14px;
}

/* Dark button fill when a selection is made */
.designs-list li.selected .back-button {
    background: #2c2c2c;
    color: #fff;
}


.project-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .project-logo {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  .project-metadata {
    margin-bottom: 20px;
  }
  
  .project-metadata p {
    margin: 5px 0;
  }
  
  .back-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .project-section {
    margin-bottom: 30px;
  }
  
  .project-section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .project-section p {
    line-height: 1.6;
  }
  
  .project-screenshot,
  .project-feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
 /* Mobile-specific styles */
@media (max-width: 768px) {
  .designs-container {
      flex-direction: column;
  }

  .designs-sidebar {
      flex: 0 0 auto;
      width: 100%;
      border-right: none;
      border-bottom: 2px solid #f7f7f7;
  }

  .design-details {
      height: auto;
  }

  .search-bar {
      width: 50%; /* Full width on mobile */
      padding: 20px; /* Slightly larger padding for better touch targets */
      margin-top: 40px;
      border: 1px solid #f90000;
      border-radius: 5px;
      font-size: 16px; /* Slightly larger font size for better readability on mobile */
      -webkit-appearance: none; /* Remove default styling on iOS */
      appearance: none;
  }


}
