/* Home container */
.home-container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #e2e2e2 1px, #ececec00 1px);
  background-size: 12px 12px;
}

.home-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin: 8px;
  padding: 8px;
}

.nav-item.active {
  background-color: #F3F4F6;
  border-radius: 5px;
}

.nav-item-text {
  margin-left: 8px;
}

.social-icons {
  display: flex;
  align-items: left;
}

/* Main content area */
.main-content {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}

/* Profile image */
.profile-image {
  max-width: 100%; /* Set the maximum width to 100% */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Content text */
.main-content p {
  text-align: left;
  margin: 0 0 20px;
  line-height: 1.6;
  font-size: 14px;
}

/* Heading styling */
h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
}

/* Link styling */
.main-content a {
  color: #454545;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 1px 4px;
  background-color: #F3F4F6;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.main-content a:hover,
.main-content a:focus {
  text-decoration: none;
  background-color: #ddd;
  transform: scale(1.05);
}

/* Icon size adjustment */
[class*="flaticon"] {
  font-size: 10px;
}

/* Location and social icons styling */
.social-icon {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F4F6;
  border-radius: 5px;
  margin-left: 24px;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icon i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.social-icon-text {
  position: absolute;
  left: 100%;
  margin-left: 8px;
  padding: 4px 8px;
  background-color: #F3F4F6;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.location-text::before {
  content: "📍";
  margin-right: 5px;
}

.work-experience {
  margin-top: 16px;
  text-align: left;
}

.work-experience h2 {
  margin-bottom: 20px;
}

.work-experience ul {
  list-style: none;
  padding: 0;
}

.work-experience li {
  margin-bottom: 30px;
}

.company {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}

/* Company info container */
.company-info {
  display: flex;
}

/* Company logo */
.company-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 4px;
}

/* Company and role container */
.company-info > div {
  display: flex;
  flex-direction: column;
}

.company-logo[alt="University of Iowa"] {
  background-color: black;
}

/* Role */
.role {
  font-style: italic;
  font-size: 14px;
  color: #000000;
}

.dates {
  float: right;
  color: #999;
}

.location {
  background-color: #F3F4F6;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 10px;
  margin-top: 5px;
  display: inline-block;
}

.role {
  font-style: italic;
  font-size: 14px;
  color: #000000;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .home-container {
    padding: 20px;
  }

  .profile-image {
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .main-content {
    padding: 0px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 10px;
    margin: 0 0 15px;
  }

  .content {
    padding: 10px 5px;
  }

  .location h2,
  .work-experience h2 {
    font-size: 14px;
  }

  .location-text,
  .work-experience li {
    font-size: 10px;
  }
}