@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #e2e2e2 1px, #ececec00 1px);
  background-size: 14px 14px;
}

.thoughts-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: #ffffff;
  width: 100%;
}

.thoughts-sidebar {
  width: 300px;
  min-width: 250px;
  background: #ffffff;
  padding: 10px;
  overflow-y: auto;
  border-right: 2px solid #f7f7f7;
  flex-shrink: 0; /* Add this line to prevent the sidebar from shrinking */
}

.search-bar {
  width: calc(100% - 100px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.search-bar:focus {
  border-color: #2c2c2c;
  outline: none;
}

.thoughts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thought-item {
  padding: 10px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
}

.thought-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thought-title {
  font-size: 14px;
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 5px;
}

.thought-tags {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.thought-tag {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 2px 8px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #2c2c2c;
}

.thought-item:hover .thought-tag,
.thought-item.selected .thought-tag {
  background-color: #2c2c2c;
  color: #ffffff;
}

.thought-date {
  font-size: 12px;
  color: #2c2c2c;
}

.thought-item:hover,
.thought-item.selected {
  background-color: #f0f0f0;
}

.thought-details {
  padding: 30px;
  background: #ffffff;
  overflow-y: auto;
  height: calc(100vh - 20px);
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: auto;
  word-wrap: break-word;
}

.thought-details h2 {
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 10px;
}

.thought-details p {
  margin-bottom: 20px;
}

.thought-details img.thought-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
  border-radius: 20px;
}
.back-button {
  background: #2c2c2c;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .thoughts-container {
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    height: auto;
  }

  .thoughts-sidebar {
    width: 100%;
    min-width: 100%;
    border-right: none;
    border-bottom: 2px solid #f7f7f7;
    padding: 10px;
    height: auto;
  }

  .thought-details {
    border-left: none;
    padding-left: 0;
    padding-top: 20px;
    height: auto;
    max-width: 100%;
    margin: 0;
  }
}
