/* Global styles applied to both mobile and desktop */
.bookmarks-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f9f9f9;
}

.bookmarks-sidebar {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    overflow-y: auto; /* Enable scrolling for the list */
    border-right: none;
    border-bottom: 2px solid #f7f7f7;
    height: calc(100vh - 60px); /* Adjust the height to fill the viewport */
}

.bookmarks-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bookmarks-list li {
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
}

.bookmark-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bookmark-title {
    font-size: 14px;
    font-weight: medium;
    color: #000;
    margin-bottom: 5px;
}

.bookmark-favicon-url {
    display: flex;
    align-items: center;
}

.bookmark-favicon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.bookmark-url {
    font-size: 12px;
    color: #a4a4a4;
}

.bookmarks-list li:hover {
    background-color: #f0f0f0;
}

.bookmark-details {
    flex-grow: 1;
    padding: 30px;
    background: #ffffff;
    overflow-y: auto; /* Enable scrolling for the content */
    height: calc(100vh - 60px); /* Adjust the height to fill the viewport */
}

.back-button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Desktop-specific styles */
@media (min-width: 1024px) {
    .bookmarks-container {
        flex-direction: row;
        margin-left: 60px; /* Adjust for sidebar width */
    }

    .bookmarks-sidebar {
        width: 300px; /* Adjust width as needed */
        border-right: 2px solid #f7f7f7;
        border-bottom: none;
    }

    .bookmark-details {
        position: sticky;
        top: 0; /* Adjust this value if you have a header or top bar */
    }
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .bookmarks-container {
        flex-direction: column;
        margin-left: 0; /* Remove margin left on mobile */
    }

    .bookmarks-sidebar {
        width: 100%; /* Full width on mobile */
        border-right: none; /* Remove border on mobile */
    }
}
