/* Base styling for the page */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}

/* Home container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  background-color: #ffffff;
  background-image: radial-gradient(circle, rgb(239, 239, 239) 1px, rgba(231, 231, 231, 0) 1px);
  background-size: 20px 20px;
}

/* Main content area */
.main-content {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}

/* Profile image */
.profile-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Content text */
.main-content p {
  text-align: left;
  margin: 0 0 20px;
  line-height: 1.6;
}

/* Heading styling */
h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
}

/* Link styling */
.main-content a {
  color: #454545;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 1px 4px;
  background-color: #eeeeee;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.main-content a:hover, .main-content a:focus {
  text-decoration: none;
  background-color: #ddd;
  transform: scale(1.05);
}

/* Icon size adjustment */
[class*="flaticon"] {
  font-size: 10px;
}

/* Location and social icons styling */
.social-icons {
  display: flex;
  justify-content: left;
  margin: 10px 0;
  padding-bottom: 14px;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icon i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .home-container {
    padding: 20px;
  }

  .profile-image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .main-content {
    padding: 0px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
    margin: 0 0 15px;
  }

  .content {
    padding: 10px 5px;
  }
}
