/* Global styles applied to both mobile and desktop */
.tools-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: #ffffff;
}

.tools-sidebar {
    width: 300px; /* Prevent shrinking and set a fixed width */
    background: #ffffff;
    padding: 10px;
    overflow-y: auto;
    border-right: 2px solid #f7f7f7;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column; /* Ensure children are stacked vertically */
}

.tools-list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1; /* Take up remaining space */
    overflow-y: auto; /* Scroll if content overflows */
}

.tools-list li {
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
}

.tool-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tool-title {
    font-size: 14px;
    font-weight: medium;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.tool-favicon-url {
    display: flex;
    align-items: center;
}

.tool-favicon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.tool-url {
    font-size: 12px;
    color: #a4a4a4;
}

.tool-tags {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.tool-tags span {
    background: #f0f0f0;
    border-radius: 3px;
    padding: 2px 6px;
    margin-right: 5px;
    margin-top: 5px;
    color: #555;
    font-size: 12px;
}

.tools-list li:hover .tool-tags span,
.tools-list li.selected .tool-tags span {
    background: #2c2c2c;
    color: #fff;
}

.tools-list li:hover {
    background-color: #f0f0f0;
}

.tools-list li.selected {
    background-color: #e0e0e0;
}

.tool-details {
    flex: 1; /* Take the remaining width */
    padding: 30px;
    background: #ffffff;
    overflow-y: auto;
    height: calc(100vh - 60px);
}

.back-button {
    background: #2c2c2c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .tools-container {
        flex-direction: column;
    }

    .tools-sidebar {
        flex: 0 0 auto; /* Reset the flex properties for mobile */
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #f7f7f7;
    }

    .tool-details {
        height: auto;
    }
}
