body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
}

.sidebar {
  background-color: #ffffff;
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid rgb(247, 247, 247);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.menu-section {
  margin-bottom: 30px;
}

.menu-section h2, .menu-section h3 {
  color: #000000;
  margin: 0 0 10px 0;
}

.menu-section h2 {
  font-size: 16px;
}

.menu-section h3 {
  font-size: 14px;
}

.menu-section ul {
  list-style: none;
  padding: 0;
}

.menu-section ul li {
  margin-bottom: 15px;
}

.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 13px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a i {
  margin-right: 10px; /* Existing margin */
  font-size: 18px; /* Existing font size */
  width: 30px; /* Width of the icon background */
  height: 30px; /* Height of the icon background */
  display: flex; /* Use flexbox to center the icon */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-radius: 4px; /* Rounded corners with specified radius */
  background-color: #f0f0f0; /* Light gray background for the icon */
}

.sidebar a:hover, .sidebar a.selected {
  background-color: #333; /* Dark background for contrast */
  color: #fff; /* White text for visibility */
}

/* Ensure the icon changes color appropriately on hover/selection */
.sidebar a:hover i, .sidebar a.selected i {
  background-color: #333; /* Dark background for the icon */
  color: #fff; /* White color for the icon */
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 150px;
  transition: margin-left 0.3s;
}

.content.shifted {
  margin-left: 0;
}
