/* Sidebar styles */
.sidebar {
  background-color: #ffffff; /* Light grey background */
  width: 150px; /* Adjust width as necessary */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; /* Visible on desktop */
  border-right: 2px solid rgb(247, 247, 247);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.open {
  left: 0; /* Ensure it's visible when open */
}

.sidebar a {
  color: rgb(24, 24, 24);
  text-decoration: none;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px; /* Spacing between items */
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #e1e1e1;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 0px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
  font-size: 30px;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .sidebar {
    left: -100%; /* Hide the sidebar off-screen for mobile */
    transition: left 0.3s; /* Smooth transition for opening and closing */
  }

  .sidebar.open {
    left: 0; /* Show the sidebar on-screen for mobile */
  }

  .menu-toggle {
    display: block; /* Show on mobile */
  }
}
