.gradient-container {
  border-radius: 10px;
  padding: 100px;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #e2e2e2 1px, rgba(236, 236, 236, 0) 1px);
  background-size: 14px 14px;
}

.gradient-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gradient-container > p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.gradient-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
  cursor: pointer;
}

.nav-item.active {
  font-weight: bold;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .gradient-container {
    padding: 50px;
  }
}